In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame({'F1': [62,62,90,42,84,64],'F2': [54,56,58,36,72,34], 'F3':[48,62,92,96,92,80]})

In [14]:
df

   F1  F2  F3
0  62  54  48
1  62  56  62
2  90  58  92
3  42  36  96
4  84  72  92
5  64  34  80

In [15]:
from scipy import stats

In [16]:
anova = stats.f_oneway(df['F1'],df['F2'],df['F3'])

In [17]:
anova

F_onewayResult(statistic=3.6634935025687523, pvalue=0.05063590143901569)

In [19]:
print(f"Statistics: {round(anova[0],2)}  p_value: {round(anova[1],3)}")

Statistics: 3.66  p_value: 0.051

In [20]:
df.describe()

              F1         F2         F3
count   6.000000   6.000000   6.000000
mean   67.333333  51.666667  78.333333
std    17.328204  14.389811  19.366638
min    42.000000  34.000000  48.000000
25%    62.000000  40.500000  66.500000
50%    63.000000  55.000000  86.000000
75%    79.000000  57.500000  92.000000
max    90.000000  72.000000  96.000000

In [21]:
0.05063590143901569 > 0.05

True

In [22]:
0.05063590143901569 <= 0.05

False

In [24]:
from scipy.stats import norm

In [25]:
media = 400
desvio = 100

In [26]:
observado = 750

In [27]:
1- norm.cdf(observado,media,desvio)

0.0002326290790355401